@import "modern-css-reset";

:root {
  --bg: rgba(0, 0, 0, 0.4);
  --bg-card: #ffffff22;
  --bg-button: #ffffff22;
  --bg-button-hover: #ffffff66;
  --bg-button-active: #ffffff44;

  --text-color: #ffffff;

  --duration: 0.2s;
}

.light-mode {
  --bg: rgba(0, 0, 0, 0.4);
  --bg-card: #ffffff22;
  --bg-button: #ffffff22;
  --bg-button-hover: #ffffff66;
  --bg-button-active: #ffffff44;

  --text-color: #eeeeee;
}

.dark-mode {
  --bg: rgba(0, 0, 0, 0.5);
  --bg-card: #ffffff11;
  --bg-button: #ffffff11;
  --bg-button-hover: #ffffff44;
  --bg-button-active: #ffffff33;

  --text-color: #ffffff;
}

/* 使用字体 Maple Mono, 详见 https://fontsource.org/fonts/maple-mono */
@font-face {
  font-family: "Maple Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff) format("woff");
}

body {
  font-family: "Maple Mono", "sans-serif";
}
