@import "modern-css-reset";

:root {
  --bg: rgba(0, 0, 0, 0.4);
  --bg-card: #ffffff22;
  --bg-button: #ffffff22;
  --bg-button-hover: #ffffff66;
  --bg-button-active: #ffffff44;

  --text-color: #ffffff99;

  --duration: 0.2s;
}
